<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 配置目标对象 -->
	<bean name="userService"
		class="aop.target.UserServiceImpl"></bean>
	<!-- 配置通知类 -->
	<bean id="myAdvice" class="aop.advice.MyAdvice"></bean>
	<!-- AOP配置 -->
	<!-- AspectJAwareAdvisorAutoProxyCreator -->
	<aop:config>
<!--		<aop:advisor advice-ref="">

		</aop:advisor>-->
		<aop:aspect ref="myAdvice">
			<aop:after method="after"
				pointcut="execution(* *..*.*ServiceImpl.*(..))" />
			<aop:before method="before"
				pointcut="execution(* *..*.*ServiceImpl.*(..))" />
			<aop:after-returning method="afterReturing"
								 pointcut="execution(* *..*.*ServiceImpl.*(..))" />
			<aop:around method="aroud"
								 pointcut="execution(* *..*.*ServiceImpl.*(..))" />
		</aop:aspect>
	</aop:config>
	<!-- <aop:aspectj-autoproxy /> -->
</beans>
